@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/DroidSans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/DroidSans-Bold.ttf");
  font-weight: bold;
}

/* line 5, ../scss/modules/_typography.scss */
body,
button,
input,
select,
textarea {
  color: #222222;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Headings */
/* line 14, ../scss/modules/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  clear: both;
}

/* line 19, ../scss/modules/_typography.scss */
h1 {
  font-size: 1.65em;
}

/* line 23, ../scss/modules/_typography.scss */
h2 {
  font-size: 1.4em;
}

/* line 27, ../scss/modules/_typography.scss */
h3 {
  font-size: 1.25em;
}

/* line 31, ../scss/modules/_typography.scss */
h4 {
  font-size: 1.1em;
}

/* line 35, ../scss/modules/_typography.scss */
h5 {
  font-size: 1.1em;
}

/* line 39, ../scss/modules/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 43, ../scss/modules/_typography.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 51, ../scss/modules/_typography.scss */
p {
  margin-bottom: 1.5em;
  font-size: 1em;
}

/* line 55, ../scss/modules/_typography.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
  font-size: 1em;
}

/* line 59, ../scss/modules/_typography.scss */
ul {
  list-style: disc;
}

/* line 62, ../scss/modules/_typography.scss */
ol {
  list-style: decimal;
}

/* line 66, ../scss/modules/_typography.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 70, ../scss/modules/_typography.scss */
dt {
  font-weight: bold;
}

/* line 73, ../scss/modules/_typography.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 76, ../scss/modules/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 79, ../scss/modules/_typography.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 82, ../scss/modules/_typography.scss */
blockquote {
  margin: 0 1.5em;
  padding-left: 1em;
  border-left: 4px solid #ef4836;
}

/* line 87, ../scss/modules/_typography.scss */
address {
  margin: 0 0 1.5em;
}

/* line 90, ../scss/modules/_typography.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}

/* line 100, ../scss/modules/_typography.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 103, ../scss/modules/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 107, ../scss/modules/_typography.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 112, ../scss/modules/_typography.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 119, ../scss/modules/_typography.scss */
sup {
  bottom: 1ex;
}

/* line 122, ../scss/modules/_typography.scss */
sub {
  top: .5ex;
}

/* line 125, ../scss/modules/_typography.scss */
small {
  font-size: 75%;
}

/* line 128, ../scss/modules/_typography.scss */
big {
  font-size: 125%;
}

/* line 131, ../scss/modules/_typography.scss */
figure {
  margin: 0;
}

/* line 134, ../scss/modules/_typography.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 138, ../scss/modules/_typography.scss */
th {
  font-weight: bold;
}

/* line 141, ../scss/modules/_typography.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* Links */
/* line 147, ../scss/modules/_typography.scss */
a {
  color: #ef4836;
  text-decoration: none;
}
/* line 150, ../scss/modules/_typography.scss */
a:hover, a:active, a:focus {
  color: #b11e0e;
  text-decoration: underline;
}

/* line 155, ../scss/modules/_typography.scss */
a:visited {
  color: none;
}

/* line 2, ../scss/modules/_form.scss */
input:focus, textarea:focus {
  outline: 3px solid #c92210;
}

/* line 7, ../scss/modules/_form.scss */
button {
  color: white;
  font-weight: bold;
  background: #ef4836;
  outline: none;
  border: 4px solid #ef4836;
  padding: 1em;
  position: relative;
  top: 0;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* line 18, ../scss/modules/_form.scss */
button:focus {
  background: white;
  color: #ef4836;
}

/* line 4, ../scss/modules/_header.scss */
.top {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 120px;
  text-align: center;
  margin-top: 3em;
}
/* line 12, ../scss/modules/_header.scss */
.top .logo-wrap {
  border: #c92210;
  min-height: 80px;
  padding: 1em 0 0;
}
/* line 16, ../scss/modules/_header.scss */
.top .logo-wrap a {
  display: inline-block;
}
/* line 18, ../scss/modules/_header.scss */
.top .logo-wrap a img {
  width: 80px;
  height: 80px;
  border: 4px solid #ef4836;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 27, ../scss/modules/_header.scss */
.top ul {
  margin: 0;
  padding: 0;
}
/* line 31, ../scss/modules/_header.scss */
.top .item-wrap {
  padding: 1.5em 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../scss/modules/_header.scss */
.menu-item {
  position: relative;
  height: 80px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ef4836;
}
/* line 47, ../scss/modules/_header.scss */
.menu-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ef4836;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
/* line 57, ../scss/modules/_header.scss */
.menu-item a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 63, ../scss/modules/_header.scss */
.menu-item.active a, .menu-item:hover a, .menu-item:active a, .menu-item:focus a {
  color: #ef4836;
}
/* line 66, ../scss/modules/_header.scss */
.menu-item.active:after, .menu-item:hover:after, .menu-item:active:after, .menu-item:focus:after {
  height: 4px;
}

/* line 1, ../scss/modules/_container.scss */
div, article, input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/modules/_container.scss */
.main-wrap {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
/* line 11, ../scss/modules/_container.scss */
.main-wrap.active {
  left: -250px;
}

/* line 15, ../scss/modules/_container.scss */
.container {
  margin-left: 120px;
  padding-top: 0.1px;
}

/* line 20, ../scss/modules/_container.scss */
body {
  background: url("../img/congruent_outline.png");
}

/* line 1, ../scss/modules/_content.scss */
.article-wrap {
  position: relative;
  background: white;
  padding: 7em 4em 5em;
  margin-left: 3em;
  margin-right: 5em;
  margin-top: 3em;
}
/* line 9, ../scss/modules/_content.scss */
.article-wrap:before {
  content: "";
  position: absolute;
  top: 85px;
  left: -20px;
  border-top: 15px solid #c92210;
  border-left: 20px solid transparent;
  width: 50px;
  z-index: -1;
}
/* line 20, ../scss/modules/_content.scss */
.article-wrap > h1 {
  margin-top: 0;
  position: absolute;
  padding: 0.5em 1em;
  top: 20px;
  left: -20px;
  background: #ef4836;
  color: white;
  z-index: 1;
}
/* line 30, ../scss/modules/_content.scss */
.article-wrap > h1 a {
  color: white;
}
/* line 35, ../scss/modules/_content.scss */
.article-wrap footer, .article-wrap .footnote {
  position: absolute;
  bottom: 20px;
  right: -20px;
  background: #ef4836;
  color: white;
  padding: 0.5em 1em;
}
/* line 43, ../scss/modules/_content.scss */
.article-wrap footer:before, .article-wrap .footnote:before {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;
  border-bottom: 12px solid #c92210;
  border-right: 20px solid transparent;
  width: 50px;
  z-index: -1;
}
/* line 55, ../scss/modules/_content.scss */
.article-wrap .footnote p {
  margin: 0;
}

/* line 61, ../scss/modules/_content.scss */
.search .posts-wrap {
  margin-left: 3em;
  margin-top: 3em;
}

/* line 66, ../scss/modules/_content.scss */
.search-wrap {
  color: white;
}

/* line 1, ../scss/modules/_comment.scss */
.comments {
  margin-top: 3em;
}

/* line 5, ../scss/modules/_comment.scss */
.commentlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 11, ../scss/modules/_comment.scss */
.comment {
  position: relative;
  margin: 2.5em calc(5em + 20px) 0 10em;
  padding: 2em 10em 2em 2em;
  background: white;
  min-height: 2em;
}
/* line 18, ../scss/modules/_comment.scss */
.comment.even {
  margin: 2em 12em 0 3em;
  text-align: right;
}
/* line 22, ../scss/modules/_comment.scss */
.comment.even .commenter {
  left: -20px;
  right: initial;
  text-align: left;
}
/* line 26, ../scss/modules/_comment.scss */
.comment.even .commenter:before {
  right: initial;
  left: 0;
  border-right: 0;
  border-left: 20px solid transparent;
}

/* line 36, ../scss/modules/_comment.scss */
.commenter {
  position: absolute;
  background: #ef4836;
  color: white;
  top: -15px;
  right: -20px;
  padding: 0.5em 1em;
  text-align: right;
  max-width: calc(10em + 20px);
}
/* line 46, ../scss/modules/_comment.scss */
.commenter:before {
  content: "";
  position: absolute;
  top: 73px;
  right: 0;
  border-top: 10px solid #c92210;
  border-right: 20px solid transparent;
  width: 50px;
  z-index: -1;
}
/* line 57, ../scss/modules/_comment.scss */
.commenter h2 {
  margin: 0;
}

/* line 62, ../scss/modules/_comment.scss */
.commentform {
  background: white;
  margin: 2.5em calc(5em + 20px) 0 10em;
  padding: 2em;
  position: relative;
}
/* line 68, ../scss/modules/_comment.scss */
.commentform h3 {
  position: absolute;
  background: #ef4836;
  color: white;
  top: -15px;
  right: -20px;
  margin: 0;
  padding: 0.5em 1em;
  text-align: right;
  max-width: calc(10em + 20px);
}
/* line 79, ../scss/modules/_comment.scss */
.commentform h3:before {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  border-top: 10px solid #c92210;
  border-right: 20px solid transparent;
  width: 50px;
  z-index: -1;
}
/* line 91, ../scss/modules/_comment.scss */
.commentform label {
  display: inline-block;
  min-width: 150px;
}
/* line 95, ../scss/modules/_comment.scss */
.commentform input[type=text], .commentform input[type=email] {
  width: 50%;
  display: block;
}
/* line 99, ../scss/modules/_comment.scss */
.commentform textarea {
  resize: none;
  width: 100%;
  height: 300px;
}
/* line 104, ../scss/modules/_comment.scss */
.commentform .submit {
  margin-bottom: 0;
  text-align: right;
}

/* line 1, ../scss/modules/_footer.scss */
.colophone {
  padding: 3em 0;
  margin-left: 120px;
  color: white;
  text-align: center;
}

/* line 1, ../scss/modules/_sidebar.scss */
.sidebar {
  position: fixed;
  right: -250px;
  bottom: 0;
  top: 0;
  width: 250px;
  background: #ef4836;
  border-left: 4px solid #ef4836;
  z-index: 5;
  -webkit-transition: right 0.2s ease;
  -moz-transition: right 0.2s ease;
  -o-transition: right 0.2s ease;
  transition: right 0.2s ease;
}
/* line 13, ../scss/modules/_sidebar.scss */
.sidebar .toggle {
  position: absolute;
  top: 3em;
  left: -60px;
  background: #ef4836;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  -o-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
/* line 20, ../scss/modules/_sidebar.scss */
.sidebar .toggle a {
  cursor: pointer;
}
/* line 23, ../scss/modules/_sidebar.scss */
.sidebar .toggle i {
  color: white;
}
/* line 28, ../scss/modules/_sidebar.scss */
.sidebar.active {
  right: 0;
  border-color: white;
}
/* line 31, ../scss/modules/_sidebar.scss */
.sidebar.active .toggle {
  left: -1px;
  top: 0;
  background: white;
}
/* line 35, ../scss/modules/_sidebar.scss */
.sidebar.active .toggle i {
  color: #ef4836;
}

/* line 42, ../scss/modules/_sidebar.scss */
.sidebar-wrap {
  padding: 3em 0.75em;
  color: white;
  overflow: auto;
}
/* line 46, ../scss/modules/_sidebar.scss */
.sidebar-wrap input {
  box-sizing: border-box;
  width: 100%;
}
/* line 50, ../scss/modules/_sidebar.scss */
.sidebar-wrap h2, .sidebar-wrap a {
  color: white;
}
/* line 53, ../scss/modules/_sidebar.scss */
.sidebar-wrap h2 {
  margin-bottom: 0.5em;
}
/* line 56, ../scss/modules/_sidebar.scss */
.sidebar-wrap ul {
  margin: 0;
}

/* line 1, ../scss/modules/_pagination.scss */
.pagination {
  margin: 2em 5em 0 3em;
}
/* line 4, ../scss/modules/_pagination.scss */
.pagination div a {
  display: inline-block;
  color: white;
  background: #ef4836;
  padding: 1em 2em;
  font-weight: bold;
  text-decoration: none;
}
/* line 12, ../scss/modules/_pagination.scss */
.pagination div:last-child {
  text-align: right;
}
